.rounded-circle {
  height: 210px;
  border: 1px solid whitesmoke;
  border-radius: 65%;
  margin-left: 15%;
}

.photo {
  margin-top: 17%;
}

.mt-3 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: lighter;
  margin-left: 10%;
}

.about {
  margin-left: 20%;
  margin-top: 5px;
  font-family: sans-serif;
}

.card-body {
  height: 80vh;
  background: linear-gradient(
    to right,
    #c6ebff 0%,
    #c6ebff 50%,
    whitesmoke 0%,
    whitesmoke 0%
  );
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  height: 450px;
  font-size: 16px;
  margin-top: 5%;
  margin-left: 25%;
  display: flex;
}

.msgbox {
  align-items: center;
  background-color: red;
  border: 1px solid aliceblue;
  border-radius: 5px;
  padding: 4px;
  color: aliceblue;
  font-weight: bold;
}

.date-picker {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
}

.time-picker {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
}

.time-picker .time-slot .times .time.booked {
  pointer-events: none;
  background-color: #313131;
  color: #fff;
}

.time-picker .time-slot .times .time.booked_n {
  background-color: #00ca85;
  color: #fff;
}

.date-picker:hover {
  background-color: #f3f3f3;
}
.time-picker:hover {
  background-color: #f3f3f3;
}

.date-picker .selected-date {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #313131;
  font-size: 28px;
}

.time-picker .selected-time {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #313131;
  font-size: 28px;
}

.date-picker .dates {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  background-color: #fff;
}

.time-picker .time-slot {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
}

.date-picker .dates.active {
  display: block;
}

.time-picker .time-slot.activate {
  display: block;
}

.date-picker .dates .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
}

.date-picker .dates .month .arrows {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
  font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
  background-color: #f3f3f3;
}

.date-picker .dates .month .arrows:active {
  background-color: #00ca85;
}

.date-picker .dates .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 200px;
}

.time-picker .time-slot .times {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  height: 200px;
}

.date-picker .dates .days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
}

.time-picker .time-slot .times .time {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
}

/* .time-picker .time-slot .times .time.selected {
  background-color: #8ce6a1;
} */

.time-picker .time-slot .times .time.booked {
  border-bottom: 3px solid rgb(110, 112, 112);
}

.time-picker .time-slot .times .time.booked_n {
  border-bottom: 3px solid rgb(33, 205, 33);
}

.date-picker .dates .days .day.selected {
  background-color: #8ce6a1;
}

.date-picker .dates .days .day.high_available {
  border-bottom: 3px solid rgb(33, 205, 33);
}

.date-picker .dates .days .day.med_available {
  border-bottom: 3px solid rgb(251, 251, 11);
}

.date-picker .dates .days .day.low_available {
  border-bottom: 3px solid red;
}

.date-picker .dates .days .day.next_date {
  pointer-events: none;
  border-bottom: 3px solid grey;
}

.date-picker .dates .days .day.prev_date {
  pointer-events: none;
  border-bottom: 3px solid grey;
}

.b_form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.date-picker .search_time {
  margin-left: 40%;
  padding: 10px;
  border-radius: 5px;
}

.date-picker .form_submit {
  margin-left: 30px;
}
