<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>booking</title>
    <!--connect css-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static "my_app/style.css" %}" />
    {% block head %}
    {% endblock %}
  </head>
  <body >
    <!--connect js-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  
    {% if request.user.name %}
      <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid ">
          <a class ="navbar-brand logo-main"  aria-current="page" href="/home"><img src="{% static "ball.jpg" %}" class="logo" /><label class="logoTitle">FUTSAL BOOKING</label></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse nav-width" id="navbarNavAltMarkup">
            <div class="navbar-nav d-flex justify-content-end">
              <a class="nav-link " href="/home" id="home" name="home">Home</a>
              <a class="nav-link" href="/about_us" id="about_us" name="about_us">About Us</a>
              <a class="nav-link" href="/contact_us" id="contact_us" name="contact_us">Contact Us</a>
              <a class="nav-link" href="/review" id="review" name="review">Review</a>
              <a class="nav-link" href="/booking" id="booking" name="booking">Book Now</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="name">
                  {{request.user.name}}
                </a>
                <ul class="dropdown-menu">
                  <li></li>
                    <a class="dropdown-item" href="/profile" id="profile">Profile</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <a class="dropdown-item" href="/logout" id="logout">Logout</a>
                  <li><hr class="dropdown-divider" /></li>
                  <a class="dropdown-item" href="/booking_list" id="booking_list">My Boookings</a>
                </ul>
              </li>
            </div>
          </div>
        </div>
      </nav>
      {% else %}
      <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid ">
          <a class ="navbar-brand logo-main"  aria-current="page" href="/home"><img src="{% static "ball.jpg" %}" class="logo" /><label class="logoTitle">FUTSAL BOOKING</label></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse nav-width" id="navbarNavAltMarkup">
            <div class="navbar-nav d-flex justify-content-end">
              <a class="nav-link " href="/home" id="home" name="home">Home</a>
              <a class="nav-link" href="/about_us" id="about_us" name="about_us">About Us</a>
              <a class="nav-link" href="/register" id="login" name="register">Register</a>
              <a class="nav-link" href="/login" id="login" name="login">LogIn</a>
              <a class="nav-link" href="/contact_us" id="contact_us" name="contact_us">Contact Us</a>
            </div>
          </div>
        </div>
      </nav>
      {% endif %}

      {% block content %}
      {% endblock %}
    </body>
    </html>