{% extends 'my_app/base.html' %}
{% block content %}
<!-- <div class="name"> -->
<div class="name1"><h3>CONTACTS</h3></div>
<!-- </div> -->
<br>
    <div class="bdy">
      <div class="clzz">
        <h5><b></b>Advanced College of Engineering and Management</b></h5><br>
        <i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;
        Bhuwaneshwari Marg, Kalanki 14, Kathmandu<br><br>
        <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;
        +977-1-5234288, 5234128, 5234187<br><br>
        <i class="fa-solid fa-mobile-screen-button"></i>&nbsp;&nbsp;
        +977 9861083619, 9842998772<br><br>
        <i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;
        info@acem.edu.np<br><br>
      </div><br>
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.924919179135!2d85.28759211488172!3d27.68871533291773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb198d9284b605%3A0xdeff9faa80d88afb!2sAdvanced%20College%20of%20Engineering%20Management!5e0!3m2!1sen!2snp!4v1674290816940!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="maps"></iframe> -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14131.217707839352!2d85.28259279999999!3d27.6924389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb198d9284b605%3A0xdeff9faa80d88afb!2sAdvanced%20College%20of%20Engineering%20Management!5e0!3m2!1sen!2snp!4v1674291132459!5m2!1sen!2snp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="maps"></iframe>  
    <!-- WIDTH MUST BE REDUCED -->
  </div>
{% endblock %}
