{% extends 'my_app/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "my_app/new.css" %}" />
{% endblock %}

{% block content %}
      <div class="card-body-main">
        <div class="card-body">
          <div class="photo">
            <img src="{% static "profile.png" %}" class="rounded-circle" />
          </div>
          <div class="about">
            <h2>PROFILE</h2>
            <br />
            <div><b>Full Name</b><br> {{request.user.name}}</div>
            <br />
            <div><b>Email</b><br>{{request.user.email}}</div>
            <br />
            <div><b>Phone no.</b><br>{{request.user.phone}}</div>
            <br />        
        </div>
      </div>
    </div>
{% endblock %}